.link{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(7, 145, 209);
}

.terco{
    width: 33%; 
    height: 250px;
    display: inline-block;
}

.header{
    height: 300px;
}